@import 'tailwindcss';

@font-face {
	font-family: 'Swiss 721 Extended';
	font-weight: 700;
	font-style: bold;
	src:
		url('assets/swiss-721-bt-bold-extended.woff2') format('woff2'),
		url('assets/swiss-721-bt-bold-extended.woff') format('woff'),
		url('assets/swiss-721-bt-bold-extended.eot') format('eot');
}

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/typography';

@theme {
	--font-standard: Oxanium, sans-serif;
	--font-heading: 'Swiss 721 Extended', sans-serif;

	--color-yellow: #ffe710;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

:root {
	--gradient-stripes: repeating-linear-gradient(
		135deg,
		#494949,
		#494949 5px,
		transparent 5px,
		transparent 10px
	);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
		min-width: 0;
	}
}

:root {
	font-family: var(--font-standard);
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--color-white);
	background-color: var(--color-gray-900);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	font-family: var(--font-standard);
	background-color: var(--color-black);
	background-image: url('/bg-ship.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.inner-bg {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAYCAYAAADkgu3FAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGBJREFUeNpi/P//PwM9ABMDnQAjEHMNLx+NxhEQyEPph4PSRyzAOPqG18uMjLikUPQRiutBFUfyRJr1cGjkIyxxpAmlrw/KOGIBupjcso6LyNQ5WtaN1kejcTTUfAQQYACGjx1Rxj1ibwAAAABJRU5ErkJggg==);
	min-height: 100dvh;
}

.card {
	padding: 2em;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--color-orange-500);
	cursor: pointer;
	transition: border-color 0.25s;
	margin-bottom: 3rem;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.stripes {
	position: relative;
	isolation: isolate;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: var(--gradient-stripes);
		opacity: 0.5;
	}
}
